<div class="row">
  <div class="span3">
    <h1>1. 2. 3. Go!</h1>
  </div>
  <div class="span4">
    <br>
    <h4 class="muted">
      yes, this is really all it takes
    </h4>
  </div>

</div>
  <hr>

<%= render 'form' %>
