<p>Hello from LendingRound, you have been invited by <%= @note.lender_email %> to sign a loan.</p>
<p><%= link_to "Click here to see the loan", note_path(@note) %> (you'll need be invited to create an account at LendingRound if you don't have one.)</p>
